# These files are just depots for sensitive information orgainzed into something that looks nice to me
# It's literally just variable declaration
# I make no promises to keep this file updated if I add more things

# Examples

# TWITCH_IRC_OAUTH_KEY = "oauth:KappaKappaKappa"
# STEAM_API_KEY = ""
# GITHUB_GIST_KEY = ""

# LINK_REGEX = re.compile('https?:.*')
# USER_AGENT = whatever user agent you want requests to spoof
# LONG_MESSAGE_LENGTH = 600 or however long you want
# MAX_TIMEOUT_DURATION = 1209600 (what twitch claims)
# CHANNEL_RULES = {'channel': [option1, option2], ...}
# INSPECT_WHITELIST = ['twitch.tv', ...]
# SPAM_LIST = {'website match (j.mp, etc...)': timeout_duration} (0 for ban )
# COPYPASTAS = {same as above}
# NAMES_BLACKLIST = [r'(?i)^seymorebutts', ...] This isn't used very much
